/*
Hi there. Welcome to one of my CSS files.
If you're reading this comment, congratulations.
It's probably the only part of this file that actually makes sense.
 */

:root{                              
    --actionAccent: #cfd8e0;
    --resultColor: #7997f1;
    --resultColorFail: #f66161;
    --gradientAccent: linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
}

body{
    animation: none;
}

#returnButton{
    position: relative;
    padding:20px;
    animation: none;
}

#returnText{
    opacity:0.3;
    font-weight: 600;
    font-size: 13pt;
}

#returnText:hover{
    opacity:1;
}

#mainContent {
    width:80%;
    max-width: 1200px;
    height:auto;
    position:relative;

    padding: 50px 0 150px;
    margin: 0 auto;

    animation-name: textTransition;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

#inputArea{
    displaY: flex;
    flex-wrap: wrap;

    height:auto;

    width:auto;

    max-width: 1200px;
    min-width: 400px;
}

#step1{
    width: 45%;
    height:auto;
    min-width:440px;

    margin-right: 70px;
    margin-bottom: 70px;
    vertical-align: top;
}

#resultsWrapper {
    display: inline-block;

    width: 45%;
    height:auto;

    min-width: 440px;
    background-color: var(--bg);

    animation-name: none;
    animation-duration: 0s;
    animation-timing-function: linear;
}

#resultsArea{
    position: relative;
    display: none;

    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

#classResultsArea{
    display: flex;
    flex-wrap: wrap;

    margin:0;
}

#otherResultsArea{
    margin:0;

    height:auto;
}

#otherResultsLeft{
    width:48%;
    display:inline-block;

    vertical-align: top;
}

#otherResultsRight{
    width:48%;
    display:inline-block;

    vertical-align: top;
    float: right;
}

#totalScore{
    display: inline-block;

    margin: 0;

    width:80%;
    padding:12px;
    margin-right: 10%;
    background: var(--gradientAccent);
    opacity:0.8;
    color:white;
    border-radius: 20px;
    text-align: center;
}

#faqArea{
    width:100%;
}

#submittingButton{
    display: block;
}

#contentError{
    display: none;
    color:var(--resultColorFail);
    font-size: 12pt;
}

strong{
    font-weight:700;
}

.subtitleText{
    margin-top:5px;
    font-size:inherit;
}

.inputDropdown{
    width:15%;
    min-width:75px;
    padding:12px;
    font-family: inherit;
    font-size:20px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #e9e9e9;
    border-radius: 20px;

    transition: all 200ms;
}

.inputDropdown:hover{
    background-color: var(--actionAccent);
}

.inputBox{
    width: 75%;
    min-width: 250px;

    float:right;

    padding: 12px;
    margin-left: 10px;
    font-family: inherit;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    outline:none;

    transition: all 200ms;
}

.inputBox:hover{
    background-color: var(--actionAccent);
}

.submitButton{
    padding:12px;
    width:100%;

    font-family: inherit;
    font-weight: 700;
    color:white;
    font-size: 13pt;

    background: #212121;
    border: none;
    outline:none;
    opacity:0.4;
    border-radius: 20px;
    cursor:pointer;
}

.submitButton:hover{
    background: var(--gradientAccent);
    opacity:0.9;
    transition: all 200ms;
}

.submitButton:active{
    transform: scale(0.98);
    opacity:0.7;
    transition: all 100ms;
}

.classResult{
    display: inline-block;
    width:100%;
    margin: 0 0 20px;

}

.className{
    display: inline-block;
    width:80%;
    min-width: 300px;
    padding:12px;

    font-weight: 500;

    background:white;
    border-radius: 20px 0 0 20px;
}

.classScore{
    display: inline-block;
    width:22px;
    padding: 12px;

    font-weight: 700;
    text-align: center;
    color:white;

    background: var(--resultColor);
    border-radius: 0 20px 20px 0;
}

.otherName{
    display: inline-block;
    width:55%;
    padding:12px;

    font-weight: 500;

    background:white;
    border-radius: 20px 0 0 20px;
}

.otherScore{
    display: inline-block;
    width:25px;
    padding: 12px;

    font-weight: 700;
    text-align: center;
    color:white;

    background: var(--resultColor);
    border-radius: 0 20px 20px 0;
}

.extraResultRight{
    width: auto;
    right:0;
}

.diplomaResult{
    margin-right: 5%;
    float: right;
    text-align: right;
}

.faqAnswer{
    margin:0;
}

.specialTiny{
    font-size: 8pt;
    color: var(--lightestText);
}

#overallScore{
    font-weight: 700;
}