:root{
    --actionAccent: #cfd8e0;

}

body{
    animation: none;
}

#returnButton{
    position: relative;
    padding:20px;
    animation: none;

}

a{
    opacity:0.3;
    font-weight: 600;
    font-size: 13pt;
}

a:hover{
    opacity:1;
}

#mainContent {
    width:80%;
    max-width: 1200px;
    height:auto;
    position:relative;

    padding: 50px 0 150px;
    margin: 0 auto;

    animation-name: textTransition;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

#inputArea{
    padding-top: 40px;
    padding-bottom: 100px;
    height:auto;

    max-width: 1200px;
    min-width: 400px;
}

#step1{
    width: 45%;
    height:auto;
    min-width: 420px;

    display: inline-block;
    margin-right: 70px;
    vertical-align: top;
}

#resultsWrapper {
    width: 45%;
    height:auto;

    display: inline-block;
    min-width: 452px;
    background-color: var(--bg);

    animation-name: none;
    animation-duration: 0s;
    animation-timing-function: linear;
}

#resultsArea{
    display: none;
}

#classResultsArea{
    width:100%;
}

#otherResultsArea{
    width:100%;
}

#receivedDiploma{
    margin-right: 10%;
    float: right;
    text-align: center;
}

#totalScore{
    width:160px;
    padding:15px;
    margin-right: 10%;
    background:linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    opacity:0.8;
    color:white;
    border-radius: 20px;
    float: right;
    text-align: center;
}

#faqArea{
    width:100%;
}

h1{
    font-weight: 700;
    font-size: 35pt;
    margin:0;
}

h2{
    font-size: 20pt;
}

h3{
    display: inline-block;
    font-size:15pt;
    margin:0;

    color: inherit;

    transition: all 400ms;
    transition-timing-function: cubic-bezier(.26,0,.03,1.01);
}

h3:hover{
    background:  linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

strong{
    font-weight:700;
}

.subtitleText{
    margin-top:5px;
    font-size:inherit;
}

.inputDropdown{
    width:70px;
    padding:12px;
    font-family: inherit;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #e9e9e9;
    border-radius: 20px;

    transition: all 200ms;
}

.inputDropdown:hover{
    background-color: var(--actionAccent);
}

.inputBox{
    width: 75%;

    float: right;
    padding: 12px;
    margin-left: 10px;
    font-family: inherit;
    border:none;
    border-radius: 20px;
    outline:none;

    transition: all 200ms;
}

.inputBox:hover{
    background-color: var(--actionAccent);
}

.submitButton{
    padding:12px;
    width:100%;

    font-family: inherit;
    font-weight: 700;
    color:white;
    font-size: 13pt;

    background: #212121;
    border: none;
    outline:none;
    opacity:0.4;
    border-radius: 20px;
    cursor:pointer;
}

.submitButton:hover{
    background:linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    opacity:0.9;
    transition: all 200ms;
}

.submitButton:active{
    transform: scale(0.98);
    opacity:0.7;
    transition: all 100ms;
}

.classResult{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}

.className{
    display: inline-block;
    width:80%;
    min-width: 300px;
    padding:15px;

    font-weight: 500;

    background:white;
    border-radius: 20px 0 0 20px;
}

.classScore{
    display: inline-block;
    width:25px;
    padding: 15px;

    font-weight: 700;
    text-align: center;
    color:white;

    background: #7997f1;
    border-radius: 0 20px 20px 0;
}

.faqAnswer{
    margin:0;
}

.specialTiny{
    font-size: 8pt;
    color: #bababa;
}

#overallScore{
    font-weight: 700;
}