/*
Main page stylesheet v2
It's like the last one, but worse somehow.
*/

:root{
    --bg: #eceef3;
    --darkText: #212121;
    --lighterText: #4a4a4a;
    --gradientAccent: linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    --bgGradient: radial-gradient(circle at top right, #caffee, #cad7ff, #f5caff, #ffcaca);
    --bgGradientText: radial-gradient(circle at top right, #2c5f4f, #303c64, #5d3264, #663434);


    --fontsize-xsm: 0.56rem;
    --fontsize-sml: 0.75rem;
    --fontsize-reg: 1rem;
    --fontsize-lrg: 1.33rem;
    --fontsize-xlg: 1.78rem;
    --fontsize-2xl: 2.37rem;
    --fontsize-3xl: 3.16rem;
    --fontsize-4xl: 4.21rem;

    --gradientTime: 20s;

    font-size: 16px;
}

@keyframes rainbowText{
    0% {color: #ee6565
    }
    25% {color: #f3bb5b
    }
    50% {color: #7997f1
    }
    75% {color: #eb55f6
    }
    100% {color: #f15757
    }
}

@keyframes textTransition{
    0% {top:20px; opacity: 0;}
    100% {top:0; opacity: 1;}
}

@-webkit-keyframes bgAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes bgAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes bgAnimation {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}


body {
    position:relative;

    margin: 0 auto;

    background-color: var(--bg);

    font-family: 'Poppins','Montserrat', 'Trebuchet MS', sans-serif;
    font-size:15pt;
    color: var(--darkText);

    opacity:1;
    animation-name: textTransition;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

ul {
    font-family: inherit;
    font-weight: 600;
    color: #20ace5;
    font-size: inherit;
    animation-delay: 200ms;
}

a{
    display: inline-block;
    color:inherit;
    font-weight: inherit;
    font-size: inherit;
    opacity: inherit;
    text-decoration: none;
    transition: opacity 450ms, background-position 1500ms;
    transition-timing-function: cubic-bezier(.26,0,.03,1.01);
    background-position-x: 100px;
}

a::after{
    content: '';
    width:0;
    height: 2px;
    display: block;
    background: var(--gradientAccent);
    transition: 300ms;
    transition-timing-function: cubic-bezier(.26,0,.03,1.01);
}

a:hover{
    opacity: 1;
    background:  var(--gradientAccent);
    background-position-x: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover::after{
    width:100%;
}

h1{
    font-weight: 700;
    font-size: var(--fontsize-3xl);
}

h2{
    font-size: var(--fontsize-2xl);
}

h3{
    font-size: var(--fontsize-xlg);
}

h4{
    font-size: var(--fontsize-lrg);
}

strong{
    font-weight: 700;
}

#topSection{
    position: relative;
    height: 80vh;
    width: 100%;

    background: var(--bgGradient);
    background-size: 300% 300%;

    -webkit-animation: bgAnimation var(--gradientTime) ease infinite;
    -moz-animation: bgAnimation var(--gradientTime) ease infinite;
    animation: bgAnimation var(--gradientTime) ease infinite;
}

#midSection{
    position: relative;
    height: auto;
    min-height: 50vw;
    width: 100%;

    padding-top: 5vh;
}

#introText{
    height: auto;
    width: 75%;

    color: var(--lighterText);
}

#footer{
    text-align: center;
    margin:0 auto;
    padding-bottom: 10px;
}


.textWrapper{
    height: auto;
    width: clamp(300px, 70%, 1500px);

    margin: 0 auto;
}

.verticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fancyBoldGradientText{
    font-weight: 700;
    opacity: 1;

    background:  var(--bgGradientText);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: bgAnimation var(--gradientTime) ease infinite;
    -moz-animation: bgAnimation var(--gradientTime) ease infinite;
    animation: bgAnimation var(--gradientTime) ease infinite;
}


