/*
I have no idea how to layout a CSS file, and am fully making this up as I go.
Good luck trying to figure out what's going on.
I don't even know myself.
*/

@keyframes rainbowText{
    0% {color: #ee6565
    }
    25% {color: #f3bb5b
    }
    50% {color: #7997f1
    }
    75% {color: #eb55f6
    }
    100% {color: #f15757
    }
}

@keyframes textTransition{
    0% {top:20px; opacity: 0;}
    100% {top:0; opacity: 1;}
}

body {
    font-family: 'Montserrat','Futura PT', 'Trebuchet MS', sans-serif;
    font-size:15pt;
    background-color: #f3f3f3;
    color: #212121;
    padding-bottom: 0;
    position:relative;
    opacity:1;
    animation-name: textTransition;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

ul {
    font-family: inherit;
    font-weight: 600;
    color: #20ace5;
    font-size: inherit;
    animation-delay: 200ms;
}

a{
    display: inline-block;
    color:inherit;
    font-weight: inherit;
    font-size: inherit;
    opacity: inherit;
    text-decoration: none;
    transition: opacity 300ms, background-position 1000ms;
    background-position-x: 100px;
}

a::after{
    content: '';
    width:0;
    height: 2px;
    display: block;
    background:linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    transition: 200ms;
}

a:hover{
    opacity: 1;
    background:  linear-gradient(90deg, rgba(97,73,194,1) 0%, rgba(225,0,255,1) 100%);
    background-position-x: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover::after{
    width:100%;
}

#introSection{
    padding-left: 10%;
    padding-top: 200px;
}

.introText {
    font-family: inherit;
    font-weight: 700;
    font-size: 50pt;
    margin:0;
}

.aWebsiteText{
    animation-name: rainbowText;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.introSubtitle{
    font-family: inherit;
    font-size: 15pt;
    color: inherit;
    margin:0;
    animation-delay: 200ms;
}

#footer{
    font-family: inherit;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 10%;
    position: fixed;
    bottom: 10px;
}

strong{
    font-weight: bold;
}

